extends layout

block content
    h1= title

    form(action="/generate.json" method="POST")
        table
            colgroup
                col(style="width: 100px;")
                col(style="width: 100px;")
            tbody
                tr
                    th Config
                    td
                        select(name="config")
                            option(value="basic_rnn") basic_rnn
                            option(value="attention_rnn") attention_rnn
                            option(value="loopback_rnn") loopback_rnn
                tr
                    th Bundle
                    td
                        select(name="bundle")
                            option(value="basic_rnn") basic_rnn
                            option(value="attention_rnn") attention_rnn
                            option(value="loopback_rnn") loopback_rnn
                            option(value="mono_rnn") mono_rnn
                tr
                    th Tone
                    td
                        select(name="tone")
                            option(value="major") major
                            option(value="minor") minor
                tr
                    td(colspan="2")
                        input(type="submit" value="generate" style="margin-left: 102px;")