doctype html
html
    head
        link(rel="icon" type="image/png" href="/images/magex.svg")
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
